/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
.red {box-shadow: 0 0px 0 #ff3e3e, 0 0px 0px rgba(0, 0, 0, 0.13) !important ;}
.red:hover {box-shadow: 0 0px 0 #ff3e3e, 0 0px 10px rgb(0,0,0,0.1) !important}
.fresas h1 {opacity: 0;text-align: center;}
.fresas:hover h1 {opacity: 1;text-align: center;font-size: 50px;}
.fresas {padding: 10px;background: white !important;transition:0.5s;border-radius:0px;height:100%;color:black;}
.fresas:hover {transform:translateY(-10px);}
.freimg {opacity: 0;height: 0px;}
.freimg:hover {opacity: 1;width: 140px;}
.freimg2:hover {opacity: 0;height: 0px;}
.freimg2 {opacity: 1;width: 140px;}

